<%- include("./partials/header") %>
    <div class="container">
      <section>
        <div class="container" style="margin-top: 100px; margin-bottom: 100px;">
          <h2 class="text-center" style="font-size: 50px;">Hakkımda</h2>
      </div>
        <div class="card bg-dark" style=" margin:100px auto">
          <div class="row g-0">
            <div class="col-lg-4">
              <img src="../assets/images/indir.jpg" class="card-img-top" alt="" style="height: 100%;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Hello World</h5>
                <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
<%- include("./partials/footer") %>