<%- include("./partials/header") %>
    <div class="container">
      <section>
        <div class="row">  
            <div class="col-lg-4 mt-2">
                <div class="card text-light align-items-center bg-dark">
                    <img style="width: 300px; height: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Lorem</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic voluptates cumque aliquid fugit dolor esse porro dolore architecto alias quasi quas perspiciatis iste, tenetur repellat, eum quod modi a.</p>
                      <div class="d-grid d-lg-flex justify-content-lg-end">
                      <a href="javascript:void(0)" class="btn btn-outline-light fixed-right">Devamını Oku</a>
                      </div>
                      <hr />
                      <div class="d-grid d-lg-flex justify-content-lg-end">
                        <div class="desc">08/09/2021</div>
                        <div class="desc"><i class="fas fa-comment"></i> 0 yorum</div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-2">
              <div class="card text-light align-items-center bg-dark">
                  <img style="width: 300px; height: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic voluptates cumque aliquid fugit dolor esse porro dolore architecto alias quasi quas perspiciatis iste, tenetur repellat, eum quod modi a.</p>
                    <div class="d-grid d-lg-flex justify-content-lg-end">
                    <a href="javascript:void(0)" class="btn btn-outline-light fixed-right">Devamını Oku</a>
                    </div>
                    <hr />
                    <div class="d-grid d-lg-flex justify-content-lg-end">
                      <div class="desc">08/09/2021</div>
                      <div class="desc"><i class="fas fa-comment"></i> 0 yorum</div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mt-2">
            <div class="card text-light align-items-center bg-dark">
                <img style="width: 300px; height: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic voluptates cumque aliquid fugit dolor esse porro dolore architecto alias quasi quas perspiciatis iste, tenetur repellat, eum quod modi a.</p>
                  <div class="d-grid d-lg-flex justify-content-lg-end">
                  <a href="javascript:void(0)" class="btn btn-outline-light fixed-right">Devamını Oku</a>
                  </div>
                  <hr />
                  <div class="d-grid d-lg-flex justify-content-lg-end">
                    <div class="desc">08/09/2021</div>
                    <div class="desc"><i class="fas fa-comment"></i> 0 yorum</div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
          <div class="card text-light align-items-center bg-dark">
              <img style="width: 300px; height: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lorem</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic voluptates cumque aliquid fugit dolor esse porro dolore architecto alias quasi quas perspiciatis iste, tenetur repellat, eum quod modi a.</p>
                <div class="d-grid d-lg-flex justify-content-lg-end">
                <a href="javascript:void(0)" class="btn btn-outline-light fixed-right">Devamını Oku</a>
                </div>
                <hr />
                <div class="d-grid d-lg-flex justify-content-lg-end">
                  <div class="desc">08/09/2021</div>
                  <div class="desc"><i class="fas fa-comment"></i> 0 yorum</div>
                </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 mt-2">
        <div class="card text-light align-items-center bg-dark">
            <img style="width: 300px; height: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lorem</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic voluptates cumque aliquid fugit dolor esse porro dolore architecto alias quasi quas perspiciatis iste, tenetur repellat, eum quod modi a.</p>
              <div class="d-grid d-lg-flex justify-content-lg-end">
              <a href="javascript:void(0)" class="btn btn-outline-light fixed-right">Devamını Oku</a>
              </div>
              <hr />
              <div class="d-grid d-lg-flex justify-content-lg-end">
                <div class="desc">08/09/2021</div>
                <div class="desc"><i class="fas fa-comment"></i> 0 yorum</div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="card text-light align-items-center bg-dark">
          <img style="width: 300px; height: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lorem</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic voluptates cumque aliquid fugit dolor esse porro dolore architecto alias quasi quas perspiciatis iste, tenetur repellat, eum quod modi a.</p>
            <div class="d-grid d-lg-flex justify-content-lg-end">
            <a href="javascript:void(0)" class="btn btn-outline-light fixed-right">Devamını Oku</a>
            </div>
            <hr />
            <div class="d-grid d-lg-flex justify-content-lg-end">
              <div class="desc">08/09/2021</div>
              <div class="desc"><i class="fas fa-comment"></i> 0 yorum</div>
            </div>
          </div>
      </div>
  </div>
        
        </div>
      </section>
    </div>
<%- include("./partials/footer") %>